.navbar {
	height: 7vh;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	flex-direction: row;
	color: white;
	position: sticky;
	font-family: "Noto Sans JP", sans-serif;
}

.menu-bars {
	position: absolute;
	padding-top: 10px;
	left: 10px;
	font-size: 1rem;
	/* background: black; */
}

.menu-open-bars {
	width: 30px;
	height: 30px;
}
.menu-close {
	width: 30px;
	height: 30px;
}

.nav-menu {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: -100%;
	/* left: -100%; */
	transition: 400ms;
}
.menu-logo {
	position: absolute;
	height: 100px;
}
.login {
	position: absolute;
	align-self: center;
	right: 10px;
	font-size: 16px;
	font-weight: 200;
}

.nav-menu.active {
	top: 0;
	height: 100%;
	transition: 400ms;
}

.nav-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 60px;
}

.nav-text a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	justify-content: center;
	border-radius: 4px;
	font-family: "Noto Sans JP", sans-serif;
}

.nav-menu-items {
	width: 100%;
	padding: 0;
}

.nav-menu-items ul {
	width: 100%;
	padding: 0;
}

/* .active-apple-logo {
	height: 500px;
	width: 500px;
	opacity: 0.7;
} */

.navbar-toggle {
	position: absolute;
	padding-top: 10px;
	left: 10px;
	font-size: 2rem;
}

span {
	margin-left: 16px;
}
