.recipe-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 500px;
	height: 150px;
	padding-right: 15px;
	border: solid 1px black;
	margin: 5px 5px 5px 5px;
}

.card-image {
	max-width: 300px;
	border-right: solid 1px black;
}
.card-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
