.user-home-container {
	font-family: "Noto Sans JP", sans-serif;
}

.recipe-header {
	background-color: #ffda08;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.recipes-header-text {
	padding-left: 15px;
	font-size: 16px;
	font-weight: 500;
}
.options-toggle {
	padding-right: 15px;
}

.options-hidden {
	display: flex;
	justify-content: center;
	position: fixed;
	top: -100%;
	/* left: -100%; */
	transition: 700ms;
}
.recipe-options-list {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 500;
	list-style-type: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 0;
}
